
<div class="container mt-5">
    <div class="text-center">
        <img src="assets/logo1.jpg" alt="">
        <br><br>
        <h3>Bienvenido, por favor ingrese sus datos</h3>
    </div>



    <div class="user" *ngFor="let user of variableInyectada.list">
      <label for="">Origen:</label>
      <select name="" id="color"  class="form-control">
          <option value="">{{user.Nombre_Usuario}}</option>
               
      </select>
    </div>
  
    
    <!-- <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">   
      <div>
        <label for="">nombres usuarios</label>
        <input type="text" name="Nombre" #Nombre="ngModel" class="form-control" [(ngModel)]="variableInyectada.formData.Nombre_Usuario">
      </div>
      <div>
        <label for="">usuario</label>
        <input type="text" name="User" #User="ngModel" class="form-control" [(ngModel)]="variableInyectada.formData.Usuario">
      </div>
      <div >
        <button type="submit" class="btn btn-primary">agregar usuario</button>
      </div>
    </form> -->

    <table>
      <tr *ngFor="let user of variableInyectada.list">
        <td>[{{user.Id_Usuario}}]{{user.Nombre_Usuario}}</td>
      </tr>

    </table>
   
    
     <!-- <div  *ngFor="let user of variableInyectada.list">
       <label for="">traeme algo por favor</label>
      <select  name="" id="color"  class="form-control">
          <option value="">{{user.Nombre_Usuario}}</option>     
      </select>
   </div> -->
      
    <form [formGroup]='formularioLogin' autocomplete="off">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="form-group col-sm-6" >
          <label for="dni">DNI:</label>
          <input type="number" class="form-control" id="dni" formControlName="dni" aria-describedby="dniHelp" placeholder="Ingrese su DNI.......">
          <div *ngIf="formularioLogin.controls['dni'].invalid && formularioLogin.controls['dni'].dirty" class="alert alert-danger" role="alert">
            <span *ngIf="formularioLogin.controls['dni'].errors.required">el DNI es requerido</span>  
          </div>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="form-group col-sm-6">
          <label for="Password">Password</label>
          <input type="password" class="form-control" (keyUp.enter)="ingresar()" id="Password" formControlName="password" placeholder="Ingrese su contraseña.......">
          <div *ngIf="formularioLogin.controls['password'].invalid && formularioLogin.controls['password'].dirty" class="alert alert-danger" role="alert"> 
            <span *ngIf="formularioLogin.controls['password'].errors.required">la contraseña es requerida</span>
          </div>
        </div>
        <div class="col-sm-3"></div>
       
          <div class="col-md-3 offset-md-3 mt-3">
            <button type="submit" (click)="ingresar()" [disabled]="!formularioLogin.valid" class="btn btn-primary">Ingresar</button>
          </div>
      </div>   
      </form>

      <div *ngIf="!datosCorrectos" class="alert alert-warning" role="alert">
       {{textoError }}
      </div>

   
  
              
</div>
