.img{
    width: 45px ;
    height: 45px ;
}
body
{
   // background-color: black; /* La página de fondo será negra */
    color: black; /*El texto de la página será blanco */
    //border: 1px solid black;
   
}
h1{
    font-family: fantasy;
}
.imagen{
    background-image: url(../../assets/acta.jpg);
    padding: 30px;
    margin-bottom: 50px;
    background-size: cover;
    background-position: 0px -110px;
}

