<body>
    <div class="container mt-5">
        <h1>Equipos</h1>
        <div class="row justify-content-center">
            <div  class="col-1 mt-3"></div>
            <div class="form-group col-4">
                <label for="">Articulo:</label>
                <select class="form-control">
                    <option value="">el articulo viene de base de datos</option>
                </select>
            </div>
            <div class="col-1"></div>
            <div class="form-group col-4">
                <label for="">Estado:</label>
                <select class="form-control">
                    <option value="">el estado viene de base de datos</option>
                    <option value="1">Disponible</option>
                    <option value="2">No Funciona</option>
                    <option value="3">Reemplazo</option>
                    <option value="4">Reservado</option>
                </select>
            </div>
            <div class="col-1">
               
            </div>
            <div class="form-group col-4">
                <label for="">Nº de Inventario</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-1"></div>
            <div class="form-group col-4">
                <label for="">Remito Factura:</label>
                <input type="text" class="form-control" placeholder="" >
            </div>
            <div class="form-group col-4">
                <label for="">Orden de Compra:</label>
                <select class="form-control">
                    <option value="">la orden viene de base de datos</option>
                </select>
            </div>
            <div class="col-1"></div>
            <div class="form-group col-4">
                <label for="">Observaciones:</label>
                <textarea class="form-control" rows="1"></textarea>
            </div>
            <div class="form-group col-4">
                <label for="">Sector:</label>
                <select class="form-control">
                    <option value="">el sector viene de base de datos</option>
                </select>
            </div>
            <div class="col-1"></div>
            <div class="form-group col-4">
                <label for="">Nº Serial</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-4"> 
                <label for="">Fecha de alta:</label>
                <input type="datetime" disabled class="form-control" [ngModel]="fecha | date: 'dd/MM/yyyy'">    
            </div>
            <div class="col-1"></div>
            <div class="form-group col-4">
                <label for="">Cantidad:</label>
                <input type="number" class="form-control">
            </div>
        </div>  
        <div class="row justify-content-center mt-4">
            <div class="col-4">
                <button class="btn btn-primary">agregar</button>
            </div>
           <div class="col-5"></div>
        </div>
    </div>
</body>
