<div class="recuadro">
    <div class="container mt-5 justify-content-center">
        <h1>Lista de Articulos</h1>
        <div  class="table-responsive table-striped">
            <table class="table">
                <thead  class="thead-dark">
                    <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let art of articulos">
                    <th scope="row">{{art.Detalle}}</th>
                    <td>{{art.marcaDetalle}}</td>
                    <td>{{art.segDetalle}}</td>
                    </tr>
                </tbody>
                </table>
        </div> 
    </div>
</div>

