<div>
    <nav class="navbar navbar-expand-lg navbar bg- p-0 fixed-top">
      <a  class="navbar-brand" href="/"> &nbsp; TC Ordenado
        
         <!-- <img class="img" src="assets/logo2.jpg"  width="60" height="40">  -->
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
        </div>
        <button class="btn btn-link">Cerrar Sesión</button>
     </nav> <!--final nav bar  -->

    <div data-component="sidebar">
      <div class="sidebar">
        <ul class="list-group flex-column d-inline-block first-menu">
          <li class="list-group-item pl-3 py-2">
            <a href="/nueva-acta"><i class="fas fa-sticky-note" aria-hidden="true" ><span class="ml-2 align-middle">Nueva Acta</span></i></a>
          </li> 
    
          <li class="list-group-item pl-3 py-2">
            <a><i class="fa fa-user-o" aria-hidden="true"><span class="ml-2 align-middle">ABM</span></i></a>
            <ul class="list-group flex-column d-inline-block submenu">
              <li class="list-group-item pl-4">
                <a href="/marca" class="">Marcas</a>
              </li> 
              <li class="list-group-item pl-4">
                <a href="/articulos" class="">Articulos</a>
              </li> 
              <li class="list-group-item pl-4">
                <a href="/tipo" class="">Tipo</a>
              </li> 
              <li class="list-group-item pl-4">
                <a href="/sector" class="">Sector</a>
              </li> 
              <li class="list-group-item pl-4">
                <a href="/equipos" class="">Equipos</a>
              </li> 
           </ul> 
          </li> 

          <li class="list-group-item pl-3 py-2">
            <a><i class="fa fa-user-o" aria-hidden="true"><span class="ml-2 align-middle">Listados</span></i></a>
            <ul class="list-group flex-column d-inline-block submenu">
              <li class="list-group-item pl-4">
                <a href="/articulos-rotos" class="">Articulos Rotos</a>
              </li> 
              <li class="list-group-item pl-4">
                <a href="/por-sector" class="">Por sector</a>
              </li> 
              <li class="list-group-item pl-4">
                <a href="/por-articulo" class="">Por Articulo</a>
              </li> 
              <li class="list-group-item pl-4">
                <a href="/por-ubicacion" class="">Por ubicación</a>
              </li> 
           </ul> 
          </li> 
          <li class="list-group-item pl-3 py-2">
            <a href="/compras"><i class="fa fa-user-o" aria-hidden="true"><span class="ml-2 align-middle">Compras</span></i></a>
           
          </li> 
          <li class="list-group-item pl-3 py-2">
            <a href="/reserva"><i class="fa fa-user-o" aria-hidden="true"><span class="ml-2 align-middle">Reservas</span></i></a>
           
          </li> 
          <li class="list-group-item pl-3 py-2">
            <a href="/usuarios"><i class="fa fa-user-o" aria-hidden="true"><span class="ml-2 align-middle">Usuarios</span></i></a>
            
          </li> 
        </ul> 
      </div> <!-- /.sidebar -->
</div>
